.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-boder);
  border-bottom: var(--main-boder);
}

.recommended-friends_title {
  font-size: 14px;
  color: var(--recommended-color);
}

.recommended-friends span {
  margin: 100px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--recommended-color);
}

.open-chat_header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat_header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post_title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post_hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post_members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post_members img {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin-right: 5px;
}

.open-post_members-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post_members .divider {
  width: 2px;
  height: 15px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post_members-status {
  color: #ffb0e0;
}

.open-post_photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post_photo {
  position: relative;
  background-color: black;
}

.open-post_heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post_heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post_heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
